#container
{
    display:flex;
    flex-wrap:wrap;
}
#container > div
{
    background-color:#c7ff99;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 145px;
}
body
{
    background-color:#a6d9ff;
}
