.image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body
{
    background: linear-gradient(180deg, #15232e, #11566f);
    margin: 30px;
}
#title
{
    text-align: center;
    color: white;
}
h3, h2
{
    text-align: center;
    color: white;
}
h4
{
    font-weight: normal;
    text-align: center;
    color: white;
}
