.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 15px;
    left: 0px;
    right: 0px;
    z-index: -2;
}
#bar
{
    padding:13px;
    width:560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #202124;
    border: 1.2px solid #5e6267;
    border-radius: 30px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
}
#box
{
    width:130px;
    position: absolute;
    top: 175px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    background-color: #303134;
    display: block;
    color: #dceae1;
    padding: 10px 0;
    border-radius:3.5px;
    border: 1.2px solid #303134;
    font-size: 15px;
}
#box:hover
{
    border: 1.2px solid #5e6267;
}
#container
{
    display:flex;
    justify-content: center;
}
#container > div
{
    background-color:#c7ff99;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 145px;
}
