.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 15px;
    left: 0px;
    right: 0px;
    z-index: -2;
}
#bar
{
    padding:15px;
    width:555px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #202124;
    border: 1.2px solid #5e6267;
    border-radius: 30px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
    color: #ffffff;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 177px;
}
#bar:focus
{
    border: 0px solid #202124;
    background-color: #303134;
}
#store
{
    width: 120px;
    margin: auto;
    text-align: center;
    background-color: #202124;
    display: block;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 3.5px;
    border: 1.2px solid #202124;
    font-size: 13.55px;
}
#box
{
    width: 120px;
    margin: auto;
    text-align: center;
    background-color: #303134;
    display: block;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 3.5px;
    border: 1.2px solid #303134;
    font-size: 13.55px;
}
#box:hover
{
    border: 1.2px solid #5e6267;
}
#boxed
{
    width:135px;
    margin: auto;
    text-align: center;
    background-color: #303134;
    display: block;
    color: #ffffff;
    padding: 10px 0;
    border-radius:3.5px;
    border: 1.2px solid #303134;
    font-size: 13.5px;
}
#boxed:hover
{
    border: 1.2px solid #5e6267;
}
#container
{
    display:flex;
    gap: 12px;
    justify-content: center;
    position: relative;
    top: 245px;
}
