.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    top: 50px;
    left: 0px;
    right: 0px;
}
#bar
{
    padding:13px;
    width:560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #202124;
    border: 2px solid #5e6267;
    border-radius: 30px;
}
#box
{
    width:35px;
    position:absolute;
    top: 175px;

}
